@media (width > 575px) {
  /* Main */
  .m-main {
    margin-left: 4.78rem;
  }

  /* Side Menu */
  .side-menu {
    height: clamp(475px, calc(100% - 70px), calc(100dvh - 70px));
  }

  /* Divergência */
  .divergencia .card {
    min-width: 20rem;
  }
}

@media (width <= 575px) {
  /* Main */
  .mb-100px {
    margin-bottom: calc(86px + 24px);
  }

  /* Bottom Menu */
  .bottom-menu a .bi-question-circle {
    position: absolute;
  }

  .bottom-menu-p {
    font-size: 16px;
  }
}

@media (width > 425px) {
    #list-menu {
        padding: 0 8px;
    }
}

@media (width <= 425px) {
  /* Bottom Menu */
  .bottom-menu-p {
    font-size: 14px;
  }
}
