:root {
  /* Colors */
  --color-light: #f7f7f7;
  --color-dark: #222222;
  --color-dark-50: #22222250;
  --color-primary-gray: #e6e6e6;
  --color-primary-gray-50: #e6e6e650;
  --color-secundary-gray: #f2f2f2;
  --color-primary-blue: #0063f7;
  --color-secundary-blue: #a9dfff;
  --color-red: #d61515;
  --color-yellow: #dcf15b;
  --color-dark-green: #727409;
}

/* Header */
header {
  background-color: var(--color-secundary-gray);
}

form input.w-16rem {
  max-width: 16rem;
}

/* Side Menu */
#list-menu li {
  &:focus {
    border-color: transparent;
  }

  & a:active {
    border-color: transparent;
  }

  & a.active {
    background-color: var(--color-primary-gray);
  }
}

@media (width > 575px) {
  .side-menu {
    height: clamp(475px, calc(100% - 70px), calc(100dvh - 70px));
  }
}

@media (width <= 575px) {
  .bi-question-circle {
    position: absolute;
  }
}

/* Icons */
.bi-search {
  font-size: 1.2rem;
}

.bi-person-circle,
.bi-justify-left,
.bi-x {
  font-size: 36px;
}

/* Edit Profile */
/* Eye - Show and Hide */
#eye {
  bottom: 4.8rem;
  right: 2.22rem;
}

/* Main */
@media (width > 575px) {
  .m-main {
    margin-left: 4.78rem;
  }
}

@media (width <= 575px) {
  .mb-100px {
    margin-bottom: calc(86px + 24px);
  }
}

/* Divergência */
@media (width > 575px) {
  .divergencia .card {
    min-width: 20rem;
  }
}

/* Information */
.information-card {
  min-width: 262px;
  max-width: 320px;

  & .bg-primary-blue {
    height: auto;
    min-width: 16px;
  }
}

/* Board */
.circle {
  min-height: 1.2rem;
  min-width: 1.2rem;
}
