/* Color */
.color-primary-blue {
    color: var(--color-primary-blue);
}
.color-light {
    color: var(--color-light);
}
.color-dark {
  color: var(--color-dark);
}

/* Background */
.bg-primary-blue {
  background-color: var(--color-primary-blue);
}

/* Measures */
.m-main {
  margin-left: 4.78rem;
}

.p-20px {
  padding: 1.22rem;
}

/* Button */
.btn-blue {
  color: var(--color-light);
  background-color: var(--color-primary-blue);
  border: 1px var(--color-primary-blue) solid;
  transition: .4s;
  
  &:hover {
    color: var(--color-primary-blue);
    background-color: var(--color-light);
    border: 1px var(--color-primary-blue) solid;
  }
}

/* Button Outline */
.btn-outline-gray {
  color: var(--color-dark);
  background-color: var(--color-primary-gray);
  border: 1px var(--color-primary-light) solid;
  transition: 0.4s;

  &:hover {
    background-color: var(--color-primary-gray-50);
  }
}

/* Elevation (Focus) */
form input.elevation-gray:focus {
  border: none;
  box-shadow: 0 0 4px var(--color-dark-50);
}

/* Side Menu */
.side-menu {
  height: calc(100dvh - 70px);
  /* min-height: 100%; */
}